#map {
    height: 100%;
    width: 70%;
    float: left;
}

#directionsContainer {
    height: 100%;
    width: 30%;
    float: right;
}

#directionsPanel, #transitPanel {
    height: auto;
    width: auto;
}

.controls {
    margin-top: 10px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#floatingPanel {
    position: absolute;
    z-index: 5;
}

#destination-input {
    float: left;
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 200px;
}

#destination-input:focus {
    border-color: #4d90fe;
}

#mode-selector {
    float: right;
    color: #fff;
    background-color: #4d90fe;
    margin-left: 12px;
    padding: 5px 11px 0px 11px;
}

#mode-selector label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
